.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.45) !important;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
  z-index: 9999;
}

.modal-container {
  background: #fff; 
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
}

/* Sizes */

.modal-container.sm {
  max-width: 450px;
}

.modal-container.md {
  max-width: 700px;
}

.modal-container.lg {
  max-width: 700px;
}

.modal-container.xl {
  max-width: 1100px;
}

.modal-close{
  padding:7px 12px;
  border-radius: 10px;
  border: none;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 24px;
  border-bottom: 1px solid #e5e7eb;
}

.modal-body {
  padding: 24px;
  overflow-y: auto;
}

.modal-actions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
}
       
.modal-actions button {
  padding: 5px 9px;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
  background: #521923;
  font-size: 11px;
  color: #fff;
  cursor: pointer;
}